/* 
    Website created by Uverit
    Do not copy or distribute
    https://www.fiverr.com/new_horizon_web
*/

    /* Media breakpoints */
    /* Width: 1200, 1024, 768, 540, 440, 320 */

    /* Colors */

:root{
    
        /* Uverit Color Palette */
    
    --color1:#07ABDB;       /* Main Color */
    
    --color1a:#62D2FD;      /* Secondary Color, Light-Mode */
    --color1b:#2086B6;      /* Secondary Color, Dark-Mode */
    
    --color2:#CC1EEC;       /* Accent Color */
    
    --color2a:#BF4FFF;      /* Secondary Accent, Light-Mode */
    --color2b:#A727DA;      /* Secondary Accent, Dark-Mode */
    
    --color3a:#F8FAFE;      /* Background-color, Light-Mode */
    --color3b:#111316;      /* Background-color, Dark-Mode */
    
        /* Additional colors */
    
    --wrapperColor1:#D4DFE5;        /* Main content box shadow color 1 */
    
    --shade1:#FFFFFF;                   /* Background-color 1 */
    --shade2:#F9F9F9;                   /* Background-color 3 */
    --shade3:rgb(248,250,254,0.92);     /* Background-color 6 */
    --shade4:#ECECEC;                   /* Background-color 5b */
    --shade5:#DDE6EA;                   /* Background-color 5 */
    --shade6:#D6D6D6;                   /* Background-color 5 */

    
    --txt1:#222;                    /* Text color 1 */    
    --txt2:#FAFAFA;                 /* Text color 2 */
    --txt-faded:#444;               /* Text faded color 1 */
    --txt-faded2:#6A6A6A;           /* Text faded color 2 */
    --txt-faded3:#919191;           /* Text faded color 3 */
}

        /* Dark-mode - class-changes */

.dark-mode{
    
            /* Uverit Color Palette */
    
    --color1a:#2086B6;      /* Secondary Color, Dark-Mode */
    --color1b:#62D2FD;      /* Secondary Color, Light-Mode */

    --color2a:#A727DA;      /* Secondary Accent, Dark-Mode */
    --color2b:#BF4FFF;      /* Secondary Accent, Light-Mode */
    
    --color3a:#111316;      /* Background-color, Dark-Mode */
    --color3b:#F8FAFE;      /* Background-color, Light-Mode */
    
            /* Additional colors */
    
    --wrapperColor1:#23292A;
    
    --shade1:#212527;               /* Background-color 1 */
    --shade2:#1B1E1F;               /* Background-color 3 */
    --shade3:rgb(17,19,22,0.95);    /* Background-color 6 */ 
    --shade4:#151718;               /* Background-color 5b */
    --shade5:#343738;               /* Background-color 5 */
    --shade6:#3B3B42;                   /* Background-color 5 */
   
    
    --txt1:#FAFAFA;                 /* Text color 1 */    
    --txt2:#222;                    /* Text color 2 */
    --txt-faded:#D5D5D5;            /* Text faded color 1 */
    --txt-faded2:#CFCFCF;           /* Text faded color 2 */
    --txt-faded3:#B1B1B1;           /* Text faded color 3 */
}

    /* Sizes */

:root{
    --navHeight1:100px;             /* Desktop Height */
    
    --wrapperPadding1:28px;         /* Desktop Padding */
    --wrapperPadding2:20px;         /* Mobile Padding */
    
    --wrapperRadius1:28px;          /* Main content border radius 1 */
    
    --radius1:16px;                 /* Border Radius 1 */
    --radius2:8px;                  /* Border Radius 2 */
    
    --box-shadow1:0 0 10px 1px;     /* Box Shadow 1 */
    --box-shadow2:0 0 2px 0.5px;    /* Box Shadow 2 */
    --box-shadow3:0 0 2px 2px;      /* Box Shadow 3 */
    --box-shadow4:0 0 3px 2px;      /* Box Shadow 4 */
}

    /* Scrollbar */

::-webkit-scrollbar{
    width:6px;
}

::-webkit-scrollbar-track{
    background:transparent;
}

::-webkit-scrollbar-thumb{
    background:var(--color1);
    border-radius:100px;
}

::-webkit-scrollbar-thumb:hover{
    background:var(--color1a);
}

::-webkit-resizer{
    background:var(--color1);
}

::-webkit-scrollbar-corner{
    background:transparent;
}

    /* Firefox */

@-moz-document url-prefix(){ 
    
    :root{
        --box-shadow2:0 0 2px 1px;  /* Box Shadow 2 */
    }
    
    *{
        scrollbar-color:var(--color1) transparent !important;
        scrollbar-width:thin !important;
    }

}

    /* Basic settings */

        /* Page */

*{
    margin:0;
    padding:0;
    font-family:font2, Roboto, Arial, sans-serif; /* Stupid firefox... */
    -webkit-tap-highlight-color:transparent;
}

*:focus{
    outline:0 !important;
}

*:selection{
    background:var(--color1) !important;
}

/* remove transition on page load */
.remove-transition *{
    transition:none !important;
}

/* IMPORTANT - it allows the sticky container to work correctly */
html, body{
    min-height:100%;
}

html{
    position:relative;
}

body{
    width:100%;
    max-width:100vw;
    
    background-color:var(--shade2);
    overflow-x:hidden;
}

        /* Fonts */

@font-face{
    src:url(../Fonts/Quicksand-VariableFont_wghtbold.woff2);
    font-family:font1;
}

@font-face{
    src:url(../Fonts/Quicksand-SemiBold.ttf);
    font-family:font1-semibold;
}

@font-face{
    src:url(../Fonts/Roboto-Regular.woff2);
    font-family:font2;
}

p, a, label{
    font-size:18px;
    font-weight:400;
    line-height:1.3em;
    text-decoration:none;
    color:var(--txt1);
    transition:0.15s;
}

@media screen and (width <= 440px){
    
    p, a, label{
        font-size:16px;
        line-height:1.2em;
    }
}

h1, h2, h3, h4, h5, h6{
    font-family:font1, Calibri, sans-serif;
    color:var(--txt1);
    font-weight:800;
    transition:0.15s;
}

h1{
    font-size:38px;
}
h2{
    font-size:36px;
}
h3{
    font-size:28px;
}
h4{
    font-size:20px;
}
h5{
    font-size:18px;
}
h6{
    font-size:16px;
}

@media screen and (width <= 440px){
    
    h1{
        font-size:32px;
    }
    h2{
        font-size:32px;
    }
    h3{
        font-size:24px;
    }
    h4{
        font-size:18px;
    }
    h5{
        font-size:16px;
    }
    h6{
        font-size:14px;
    }
}

    /* Content space */

.space{
    width:100%;
    height:var(--wrapperPadding1);
}

@media screen and (max-width:320px){
    .space{
        height:var(--wrapperPadding2);
    }
}

    /* Wrapper - change body content margins */

.wrapper{
    max-width:1440px;
    padding:0 var(--wrapperPadding1);
    margin:0 auto;
    box-sizing:border-box;
}

.wrapper2{          /* Add this class to existing paernt content */
    width:100%;
}

@media screen and (max-width:768px){
    .wrapper{
        padding:0 var(--wrapperPadding2);
    }
}

    /* Scrolltop */

#scrolltop{
    width:45px;
    height:45px;
    background-color:var(--shade2);
    position:fixed;
    bottom:-100px;
    right:30px;
    transition:0.25s;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:var(--radius1);
    cursor:pointer;
    box-shadow:var(--box-shadow4) rgb(0,0,0,0.3);
    z-index:1150;
    opacity:0.6;
}

.dark-mode #scrolltop{
    box-shadow:var(--box-shadow4) rgb(255,255,255,0.2);
}

#scrolltop:hover{
    opacity:1;
}

#scrolltop.scrolltop-displayed{
    bottom:30px;
}

.scrollarrow{
    width:60%;
    height:60%;
    transform:rotate(180deg);
    display:flex;
    align-items:center;
    user-select:none;
}

.scrollicon{
    width:100%;
    fill:var(--txt1);
}

        /* Scrolltop - media */

@media screen and (width <= 768px){
    
    #scrolltop{
        right:8px;
    }
    
    #scrolltop.scrolltop-displayed{
        bottom:8px;
        right:8px;
    }
    
}

    /* Nav */

nav{
    padding:0 var(--wrapperPadding1);
}

.nav-wrapper{
    margin-top:var(--wrapperPadding1);
    padding:var(--wrapperPadding1);
    position:relative;
    display:flex;
    justify-content:space-between;

    background-color:var(--shade3);
    box-shadow:var(--box-shadow1) var(--wrapperColor1), var(--box-shadow2) var(--wrapperColor1);
    border-radius:var(--wrapperRadius1);
    transition:0.15s;
    z-index:50;
}

        /* Nav Logo */
        
.nav-logo svg{
    display:flex;
    justify-content:center;
    align-items:center;
}
        
.nav-logo svg{
    width:175px;
}

.nav-logo svg *{
    stroke-width:0;
}

.nav-logo svg .cls-1{
    fill:var(--txt-faded);
}

.dark-mode .nav-logo svg .cls-1{
    fill:var(--txt1);
}

.nav-logo svg .cls-2{
    fill:var(--color1);
}

        /* Navbar */

.navbar{
    width:300px;
    display:flex;
}

.navbar-arrow{
    display:flex;
    justify-content:center;
    align-items:center;
}

.navbar-arrow svg{
    width:32px;
    padding:6px 0;
    margin-right:4px;
    fill:var(--txt1);
    transition:0.15s;
}

.navbar-arrow:hover svg{
    padding:12px 0 0 0;
    
    fill:var(--color1);
}

.prev-arrow svg{
    transform:rotate(90deg);
}

.next-arrow svg{
    transform:rotate(-90deg);
}

.navbar-inner{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.nav-title-div{
    width:100%;
    margin-bottom:6px;
    overflow:hidden;
}

.nav-page-title{
    width:100%;
    position:relative;
    top:0;
    left:0;
    font-size:20px;
    text-align:center;
    transition:0.1s;
}

.navbar-dots{
    width:100%;
    display:flex;
    gap:6px;
}

.navbar-dot{
    flex:1;
    height:6px;
    background-color:var(--txt-faded3);
    border-radius:100px;
    transition:0.15s;
}

.navbar-dot.current-page{
    background-color:var(--color1);
}

.navbar-dot.hovered-page{
    background-color:var(--color1a);
}

.navbar-dot:hover{
    background-color:var(--color1a);
}

        /* Nav - media */

@media screen and (width <= 768px){

    nav{
        padding:0 var(--wrapperPadding2);
    }
    
    .nav-wrapper{
        margin-top:var(--wrapperPadding2);
        padding:var(--wrapperPadding2);
    }

    .nav-logo svg{
        width:150px;
    }    

    .navbar{
        width:min(260px, 100%);
    }    

    .navbar-arrow svg{
        padding:0 2px;
    }
    
}

@media screen and (width <= 540px){

    nav{
        padding:0;
    }

    .nav-wrapper{
        margin:0;
        border-radius:0;

        flex-direction:column;
        align-items:center;
        gap:var(--wrapperPadding2);
    }
    
}

@media screen and (width <= 320px){

    .nav-page-title{
        font-size:18px;
    }

    .navbar-arrow svg{
        width:28px;
        padding:0;
    }

}

    /* Footer */

footer{
    padding:0 var(--wrapperPadding1);
}

footer .wrapper{
    margin-bottom:var(--wrapperPadding1);
    padding:var(--wrapperPadding1);
    position:relative;

    background-color:var(--shade3);
    box-shadow:var(--box-shadow1) var(--wrapperColor1), var(--box-shadow2) var(--wrapperColor1);
    border-radius:var(--wrapperRadius1);
    transition:0.15s;
    z-index:50;
}

        /* Footer - brand */

.brand{
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.brand-logo{
    cursor:pointer;
    display:flex;
    justify-content:center;
}

.brand-logo svg{
    width:min(35vw, 175px);
}

.brand-logo svg *{
    stroke-width:0;
}

.brand-logo svg .cls-1{
    fill:var(--txt-faded);
}

.dark-mode .brand-logo svg .cls-1{
    fill:var(--txt1);
}

.brand-logo svg .cls-2{
    fill:var(--color1);
}

.socials{
    height:100%;
    display:flex;
    align-items:center;
    gap:12px;
}

.socials a{
    height:32px;
    width:32px;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:0 0 0 2px var(--txt-faded2);
    border-radius:var(--radius2);
}

.dark-mode .socials a{
    box-shadow:0 0 0 2px var(--txt1);
}

.socials a:hover{
    box-shadow:0 0 0 0;
}

.socials svg{
    height:70%;
    fill:var(--txt-faded2);
    transition:0.15s;
}

.dark-mode .socials svg{
    fill:var(--txt1);
}

.socials a:hover svg{
    height:90%;
    fill:var(--color1);
}

        /* Footer - credits */

.credits{
    position:absolute;
    bottom:5px;
    right:var(--wrapperPadding1);
}

.credits a{
    color:var(--txt1);
    font-size:13px;
    opacity:0.7;
    padding-top:5px;
    transition:0.15s;
}

.credits a:hover{
    opacity:1;
}

        /* Footer - media */

@media screen and (width <= 768px){

    footer{
        padding:0 var(--wrapperPadding2);
    }
    
    footer .wrapper{
        margin-bottom:var(--wrapperPadding2);
        padding:var(--wrapperPadding2);
    }

    .credits{
        right:var(--wrapperPadding2);
        bottom:3px;
    }
    
    .credits a{
        font-size:12px;
        padding-top:3px;
    }
    
}

@media screen and (width <= 540px){

    footer{
        padding:0;
    }

    footer .wrapper{
        margin:0;
        border-radius:0;
    }

    .brand{
        flex-direction:column;
        gap:15px;
    }

    .brand-logo svg{
        width:min(80%, 175px);
    }

    .socials{
        flex-direction:column;
        padding-bottom:var(--wrapperPadding2);
    }

    .credits{
        width:100%;
        position:absolute;
        bottom:5px;
        right:50%;
        transform:translate(50%, 0);
        text-align:center;
    }
    
}



                /*   /-/-/-/-MAIN CONTENT-/-/-/-/   */



    /* Page background */

.main-background{
    /* Prevent gaps on the sides */
    width:calc(100% + 4px);
    height:100%;
    position:fixed;
    top:0;
    left:calc(50% - 2px);
    transform:translate3D(-50%, 0, 0);
    background-image:url("../img/bgreversed.svg");
    background-size:cover;
    background-position:center;
    animation:mainBgShrink 2s cubic-bezier(0,.3,.4,1);
}

.dark-mode .main-background{
    background-image:url("../img/bgreversed-dark.svg");
}

@keyframes mainBgShrink{
    0%{
        padding:0 20%;
    }
    100%{
        padding:0;
    }
}
@media screen and (max-width:1440px){
    @keyframes mainBgShrink{
        0%{
            padding:0 35%;
        }
        100%{
            padding:0;
        }
    }
}
@media screen and (max-width:1200px){
    @keyframes mainBgShrink{
        0%{
            padding:0;
        }
        100%{
            padding:0;
        }
    }
}

:root{
    --gradBgWidth: calc(100% / 11);
}

.main-bg-grad{
    height:100%;
    width:200%;
    position:fixed;
    bottom:0;
    
    /* Change speed in updateGradient() in JS script-pack to negative and here change left to 0 for Right to Left gradient */
    left:-100%;
    
    /* Image has better perf. than CSS gradient */
    background: linear-gradient(to right, 
        var(--ucp1a) calc(var(--gradBgWidth) * 1),
        var(--ucp1)  calc(var(--gradBgWidth) * 3),
        var(--ucp3)  calc(var(--gradBgWidth) * 5),
        var(--ucp2)  calc(var(--gradBgWidth) * 7),
        var(--ucp2a) calc(var(--gradBgWidth) * 9),
        var(--ucp1a) calc(var(--gradBgWidth) * 11));

    background-size:50%;
    /* The rest is in script-pack JS */
}

    /* Main */

main{
    padding:0 var(--wrapperPadding1);
    background-color:var(--shade1);
    transition:0.15s;
}

.main-wrapper{
    margin:var(--wrapperPadding1) auto;
    position:relative;
    background-color:var(--shade3);
    border-radius:var(--wrapperRadius1);
    box-shadow:var(--box-shadow1) var(--wrapperColor1), var(--box-shadow2) var(--wrapperColor1);
    transition:0.15s;
}

.main-module-content{
    flex:1;
    min-height:min(60vh, 800px);
    display:flex;
    align-items:center;
    flex-direction:column;
}

        /* Main Header */

.main-header{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.pdf-logo{
    height:36px;
    display:none;
}

.pdf-logo svg{
    height:100%;
}

.pdf-logo svg .cls-1{
    fill:var(--txt1);
}

.pdf-logo svg .cls-2{
    fill:var(--color1);
}

.mh-title{
    background:var(--ucp-grad2);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    
    font-family:font1-semibold;
    font-size:56px;
    filter:drop-shadow(0 0 1px var(--shade2));
}

.mh-brand{
    font-family:cp-font1;
    font-size:36px;
}














        /* Main - media */

@media screen and (min-height:1080px){
    /* Prevent the website from being too short to cover up the whole screen */
    .main-wrapper{
        min-height:calc(40vh);
    }
}

@media screen and (max-width:768px){
    
    main{
        padding:0 var(--wrapperPadding2);
    }

}

@media screen and (max-width:540px){
    
    main{
        padding:0;
    }
    
    .main-wrapper{
        border-radius:0;
    }

}

    /* PDF Button */

.pdf-btn{
    height:50px;
    padding:8px 12px;
    box-sizing:border-box;
    position:absolute;
    top:var(--wrapperPadding1);
    right:var(--wrapperPadding1);
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;

    background-color:var(--shade1);
    box-shadow:var(--box-shadow2) var(--ucp1);
    border-radius:var(--radius1);
    cursor:pointer;
    transition:0.15s;
}

.pdf-btn:hover{
    box-shadow:var(--box-shadow3) var(--ucp1);
}

.pdf-btn p{
    font-family:font1;
    font-weight:800;
}

.pdf-btn svg{
    height:100%;
}

.pdf-btn svg *{
    stroke:var(--txt1);
    stroke-width:8px;
    transition:0.15s;
}

.pdf-btn:hover svg *{
    stroke:var(--ucp1);
}

.pdf-btn .pdf-letter{
    stroke-width:0;
    fill:var(--txt1)
}

.pdf-btn:hover .pdf-letter{
    fill:var(--ucp1);
}

    /* PDF Settings */


@media print {
    
        /* PDF - General Settings */
    
    @page{ 
        margin:0;
        size:A4 landscape;
    }

    html, body{
        height:100%;
    }
    
    main{
        height:100%;
        display:flex;
        align-items:center;
    }

    .main-wrapper{
        width:100%;
    }
    
        /* PDF - Page Settings */
    
    .pdfNoPrint, footer, nav, #hidden-contents{
        display:none;
    }

            /* PDF - Main Header */

    .pdf-logo{
        display:block;
    }

    .mh-title{
        font-size:42px;
    }
    
    .mh-brand{
        font-size:28px;
    }

}