
       
    /* Layouts */

.uc-fill1{
    fill:var(--ucp1);
}
.uc-fill1a{
    fill:var(--ucp1a);
}
.uc-fill2{
    fill:var(--ucp2);
}
.uc-fill2a{
    fill:var(--ucp2a);
}
.uc-fill3{
    fill:var(--ucp3);
}

.cf1{
    fill:var(--txt1);
}
.cf2{
    fill:var(--txt2);
}
.cf3{
    fill:rgb(136, 84, 48);
}

.cs1{
    stroke:var(--txt1);
}
.cs2{
    stroke:var(--txt2);
}
.cs3{
    stroke:rgb(136, 84, 48);
}

@media screen and (width <= 768px){

    .layouts{
        --wrapperPadding1: var(--wrapperPadding2);
    }

}

    /* Layout 0 - landing page */

.landing-page{
    width:100%;
}

        /* Layout 0 - Navigation */

.lp-nav{
    width:100%;
    padding:calc(var(--wrapperPadding1) / 2) var(--wrapperPadding1);
    box-sizing:border-box;

    display:flex;
    align-items:center;
    justify-content:space-between;

    background-color:var(--ucp3);
    box-shadow:var(--box-shadow1) var(--shade6), var(--box-shadow2) var(--shade5);
    border-radius:var(--wrapperRadius1);
}

            /* Layout 0 - Logo */

.lp-logo{
    height:40px;
}

.lp-logo svg{
    height:100%;
}

.lp-logo svg *{
    stroke-width:0;
    fill:var(--txt1);
}

.lp-logo svg .cls-2{
    fill:var(--ucp1);
}

            /* Layout 0 - Searchbox */

.lp-search{
    height:40px;
    margin-left:auto;
    margin-right:var(--wrapperPadding1);
    box-sizing:border-box;

    display:flex;
    gap:0;

    background-color:var(--shade1);
    border:solid 2px var(--ucp1);
    border-radius:100px;
    transition:0.15s;
}

.lp-search-open{
    padding-left:16px;
}

.lp-search-box{
    width:0;
    margin:8px 0;
    box-sizing:border-box;

    color:var(--txt1);
    font-size:16px;

    background-color:transparent;
    border:none;
    border-bottom:2px solid var(--txt1);
    transition:0.15s;
}

.lp-search-box:focus{
    border-bottom:2px solid var(--ucp1);
}

.lp-search-open .lp-search-box{
    width:175px;
}

.lp-search-icon{
    height:100%;
    aspect-ratio:1/1;
    padding:8px;
    box-sizing:border-box;

    display:flex;
    align-items:center;
    transition:0.15s;
    cursor:pointer;
}

.lp-search-icon svg{
    height:90%;
    fill:var(--txt1);
    transition:0.15s;
}

.lp-search-icon:hover svg{
    fill:var(--ucp1);
}

            /* Layout 0 - Navbar */

.lp-navbar{
    display:flex;
    align-items:center;
    gap:20px;
    list-style:none;
}

.lp-navbar li{
    color:var(--txt1);
    font-family:cp-font1;
    font-size:22px;
    font-weight:800;
    
    transition:0.15s;
    cursor:pointer;
}

.lp-navbar li:hover{
    color:var(--ucp1);
}

.lp-navbar li:nth-of-type(1){
    color:var(--ucp1);
    border-bottom:solid 2px var(--ucp1);
}

.lp-navbar li:nth-of-type(1):hover{
    color:var(--ucp1a);
    border-bottom:solid 2px var(--ucp1a);
}

.lp-navbar li:nth-last-of-type(1){
    height:40px;
    padding:0 12px;
    display:flex;
    align-items:center;

    color:white;
    background-color:var(--ucp1);
    border-radius:var(--wrapperRadius1);
}

.lp-navbar li:nth-last-of-type(1):hover{
    background-color:var(--ucp1a);
}

.lp-burger{
    height:40px;
    aspect-ratio:1/1;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    cursor:pointer;
}

.lp-burger span{
    width:100%;
    height:7px;
    box-sizing:border-box;
    border:solid 2px var(--ucp1);
    border-radius:100px;
    transition:0.15s;
}

.lp-burger:hover span{
    border:solid 2px var(--ucp1a);
}

                /* Layout 0 - Navbar - media */

@media screen and (width <= 1024px){

    .lp-navbar{
        display:none;
    }

    .lp-burger{
        display:flex;
    }

}

@media screen and (width <= 768px){

    .lp-nav{
        padding:var(--wrapperPadding1) calc(var(--wrapperPadding1) * 2);
        flex-wrap:wrap;
        gap:var(--wrapperPadding1);
    }

    .lp-search{
        order:1;
        width:100%;
        padding-left:16px;
        margin:0;
    }

    .lp-search-box,
    .lp-search-open .lp-search-box{
        width:auto;
        min-width:0;
        flex:1;
    }
}

@media screen and (width <= 540px){

    .lp-nav{
        padding:var(--wrapperPadding1);
        position:relative;
    }

}

@media screen and (width <= 440px){

    .lp-logo{
        width:100%;
        height:30px;
        display:flex;
        justify-content:center;
    }

    .lp-burger{
        height:28px;
        aspect-ratio:1/1;
        position:absolute;
        top:15px;
        right:15px;
    }

    .lp-burger span{
        height:6px;
    }

}

@media screen and (width <= 320px){

    .lp-nav{
        justify-content:center;
    }

    .lp-burger{
        width:min(50%, 50px);
        position:static;
    }

}

        /* Layout 0 - Content */

.lp-content{
    width:100%;
    padding:var(--wrapperPadding1) 0;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:100px;
}

.lp-content-info{
    width:min(500px, 100%);
    position:relative;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.lp-content-info:after{
    content:"?";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    color:var(--ucp3);
    font-size:max(35vw, 250px);
}

.lp-heading{
    color:var(--ucp1);
    font-family:cp-font1;
    font-size:42px;
    font-weight:800;
    z-index:10;
}

.lp-desc{
    width:100%;
    margin-top:10px;
    margin-bottom:var(--wrapperPadding1);

    text-align:center;
    text-wrap:balance;
    font-family:cp-font2;
    font-size:18px;

    z-index:10;
}

.lp-btn{
    padding:12px 20px;
    color:white;
    font-family:cp-font1;
    font-size:24px;
    background-color:var(--ucp2);
    border-radius:var(--wrapperRadius1);

    transition:0.15s;
    cursor:pointer;
    z-index:10;
}

.lp-btn:hover{
    background-color:var(--ucp2a);
}

.lp-banner svg{
    width:min(600px, 40vw);
}

.svg-cut-edge{
    transform:scale(1.1);
}

            /* Layout 0 - Content - media */

@media screen and (width <= 1200px){

    .lp-content{
        gap:var(--wrapperPadding1);
    }

}

@media screen and (width <= 1024px){

    .lp-content{
        flex-direction:column;
    }

    .lp-content-info{
        width:100%;
    }

    .lp-banner{
        width:min(600px, 100%);
    }

    .lp-banner svg{
        width:100%;
    }

}

@media screen and (width <= 540px){

    .lp-heading{
        font-size:36px;
    }
    
    .lp-desc{
        font-size:16px;
    }
    
    .lp-btn{
        font-size:20px;
    }

}

@media screen and (width <= 320px){

    .lp-heading{
        font-size:36px;
    }
    
    .lp-desc{
        font-size:16px;
    }
    
    .lp-btn{
        padding:8px 10px;
        font-size:18px;
    }

}

        /* Layout 0 - Footer */

.lp-footer{
    width:100%;
    padding:var(--wrapperPadding1);
    box-sizing:border-box;

    display:flex;
    justify-content:space-between;

    background-color:var(--ucp3);
    box-shadow:var(--box-shadow1) var(--shade6), var(--box-shadow2) var(--shade5);
    border-radius:var(--wrapperRadius1);
}

.lpf-block{
    max-width:300px;
    height:100%;
    display:flex;
    flex-direction:column;
    gap:6px;
}

.lpf-heading{
    margin-bottom:6px;
    color:var(--txt1);
    font-size:20px;
}

.lpf-txt{
    text-wrap:balance;
    font-size:16px;
    cursor:pointer;
    transition:0.15s;
}

.lpf-txt:hover{
    color:var(--ucp1);
}

            /* Layout 0 - block 1 */

.lpf-block1 .lpf-txt:hover{
    color:var(--txt-faded);
    cursor:auto;
}
        
.lpf-socials{
    display:flex;
    gap:8px;
}

.lpf-socials svg{
    height:32px;
    aspect-ratio:1/1;
    cursor:pointer;
}

.lpf-socials svg *{
    fill:var(--ucp1);
    transition:0.15s;
}

.lpf-socials svg:hover *{
    fill:var(--ucp1a);
}

            /* Layout 0 - block 5 */

.lpf-block5{
    align-self:center;
}

.lp-footer-logo{
    height:32px;
    align-self:center;
}

.lpf-block5 .lpf-heading{
    margin-bottom:0;
}

.lpf-newsletter{
    height:32px;
    width:225px;
    padding:0 12px;
    box-sizing:border-box;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:var(--txt1);
    font-size:16px;

    background-color:var(--txt2);
    border:none;
    border:solid 2px var(--ucp1);
    border-radius:var(--wrapperPadding1);

    transition:0.15s;
}

.lpf-newsletter:focus{
    border:solid 2px var(--ucp1a);
}

.lpf-newsletter-btn{
    height:32px;
    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
    background-color:var(--ucp2);
    border-radius:var(--wrapperPadding1);

    cursor:pointer;
    transition:0.15s;
}

.lpf-newsletter-btn:hover{
    background-color:var(--ucp2a);
}

            /* Layout 0 - Footer - media */

@media screen and (width <= 1200px){

    .lp-footer{
        flex-wrap:wrap;
        gap:var(--wrapperPadding1);
    }

    .lpf-block{
        max-width:none;
        flex:15%;
    }

    .lpf-block2{
        margin-left:10%;
    }

    .lpf-block1,
    .lpf-block5{
        order:1;
        flex:40%;
    }

    .lpf-block1 .lpf-heading,
    .lpf-block1 .lpf-txt{
        text-align:center;
    }

    .lpf-socials{
        justify-content:center;
    }

    .lpf-block5{
        align-self:flex-start;
    }

    .lpf-newsletter,
    .lpf-newsletter-btn{
        width:100%;
    }

}

@media screen and (width <= 1024px){

    .lpf-block2{
        margin-left:5%;
    }

}

@media screen and (width <= 768px){

    .lpf-block{
        min-width:25%;
    }

    .lpf-block2{
        margin-left:0;
    }

    .lpf-block1,
    .lpf-block5{
        flex:auto;
        width:100%;
    }

    .lpf-block1{
        order:2;
    }

}

@media screen and (width <= 540px){

    .lpf-block{
        min-width:30%;
    }

}

@media screen and (width <= 440px){

    .lp-footer{
        flex-direction:column;
    }

    .lpf-block{
        width:100%;
        align-items:center;
    }

    .lpf-txt{
        text-align:center;
    }

}

@media screen and (width <= 320px){

    .lpf-socials{
        gap:4px;
    }

    .lpf-socials svg{
        height:28px;
    }
    
}





    /* Layout 1 - Section */

.section{
    width:100%;
    display:flex;
    justify-content:space-between;
    gap:calc(var(--wrapperPadding1) * 2);
}

        /* Layout 1 - Section - Info */

.sec-info{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:var(--wrapperPadding1);
}

.si-heading{
    color:var(--txt1);
    font-size:50px;
    text-transform:uppercase;
}

.si-heading span{
    color:var(--ucp1);
    font-size:80px;
    font-weight:800;
}

.si-heading span:nth-of-type(2){
    color:var(--ucp2);
    font-size:50px;
}

.si-border{
    width:100px;
    height:4px;
    background-color:var(--ucp1);
}

.si-txt{
    display:flex;
    flex-direction:column;
    gap:calc(var(--wrapperPadding1) / 2);
}

.si-txt1{
    color:var(--txt1);
    font-size:22px;
    font-weight:800;
    text-transform:uppercase;
}

.si-txt2{
    width:min(550px, 100%);
    text-wrap:balance;
    text-align:justify;
}

.si-buttons{
    margin-top:var(--wrapperPadding1);
    display:flex;
}

.si-btn{
    padding:14px 20px;
    border-radius:4px;
    font-size:16px;
    text-transform:uppercase;
    cursor:pointer;
    transition:0.15s;
}

.si-btn1{
    background-color:var(--ucp1);
    color:white;
}

.si-btn1:hover{
    background-color:var(--ucp1a);
}

.si-btn2:hover{
    color:var(--txt-faded3);
}

        /* Layout 1 - Section - Banner */

.sec-banner{
    width:50%;
    position:relative;
    display:flex;
    align-items:flex-end;
}

.sec-img{
    width:100%;
    margin-bottom:calc(var(--wrapperPadding1) * -1);
    position:relative;
    filter:brightness(110%) grayscale(100%);
}

.dark-mode .sec-img{
    filter:brightness(90%) grayscale(100%);
}

.sec-overlay{
    position:absolute;
    bottom:0;
    right:0;
    transform:rotate(45deg);

    background-color:var(--ucp1);
    box-shadow:0 0 100vw 8vw var(--ucp2), 0 0 10vw 25vw var(--ucp1);
    opacity:0.4;

    z-index:10;
}

        /* Layout 1 - Section - media */

@media screen and (width <= 1024px){

    .section{
        flex-direction:column;
        align-items:center;
        gap:calc(var(--wrapperPadding1) * 2);
    }

    .sec-info{
        width:min(550px, 100%);
    }

    .si-txt2{
        width:100%;
    }

    .si-buttons{
        margin-top:0;
        justify-content:flex-end;
    }

    .si-btn1{
        order:1;
    }

    .sec-banner{
        width:min(450px, 100%);
        position:relative;
        display:flex;
        align-items:flex-end;
    }

    .sec-overlay{
        bottom:-10%;
        right:-20%;
        transform:rotate(70deg);
        box-shadow:0 0 150vw 15vw var(--ucp2), 0 0 15vw 35vw var(--ucp1);
    }    

}

@media screen and (width <= 768px){

    .sec-overlay{
        bottom:0;
        right:0;
        transform:rotate(45deg);
        box-shadow:0 0 150vw 20vw var(--ucp2), 0 0 20vw 40vw var(--ucp1);
    }    

}

@media screen and (width <= 540px){

    .sec-overlay{
        box-shadow:0 0 150vw 30vw var(--ucp2), 0 0 30vw 50vw var(--ucp1);
    }    

}

@media screen and (width <= 440px){

    .si-heading{
        font-size:40px;
    }
    
    .si-heading span{
        font-size:60px;
    }
    
    .si-heading span:nth-of-type(2){
        font-size:40px;
    }
    
    .si-border{
        width:75px;
    }
    
    .si-txt1{
        font-size:20px;
    }   
    
    .si-btn{
        padding:12px 16px;
        font-size:14px;
    }

    .sec-overlay{
        box-shadow:0 0 125vw 35vw var(--ucp2), 0 0 35vw 55vw var(--ucp1);
    }    

}

@media screen and (width <= 320px){

    .si-heading{
        font-size:30px;
    }
    
    .si-heading span{
        font-size:45px;
    }
    
    .si-heading span:nth-of-type(2){
        font-size:30px;
    }
    
    .si-border{
        width:55px;
    }
    
    .si-txt1{
        font-size:16px;
    }

    .si-buttons{
        align-self:flex-end;
        width:120px;
        flex-direction:column;
        align-items:flex-end;
        gap:5px;
    }

    .si-btn{
        order:1;
        width:100%;
        box-sizing:border-box;
        text-align:center;
    }

    .sec-overlay{
        box-shadow:0 0 60vw 35vw var(--ucp2), 0 0 35vw 55vw var(--ucp1);
    }    

}

        /* Layout 1 - PDF Settings */

@media print{

    .sec-overlay{
        right:-10%;
        box-shadow:0 0 250vw 10vw var(--ucp2), 0 0 12vw 40vw var(--ucp1);
    }
    
}





    /* Layout 2 - Section2 */

.section2{
    width:100%;
    height:100%;
    padding:calc(var(--wrapperPadding1) * 2) calc(var(--wrapperPadding1) * 3);
    box-sizing:border-box;
}

.sec2-main{
    width:100%;
    height:100%;
    padding:var(--wrapperPadding1) calc(var(--wrapperPadding1) * 2);
    box-sizing:border-box;
    position:relative;

    display:flex;
    justify-content:space-between;
    gap:calc(var(--wrapperPadding1) * 2);

    background-color:rgb(255,255,255, 0.7);
    border:solid 2px var(--ucp1);
    border-radius:var(--wrapperRadius1);
    backdrop-filter:blur(25px);
    z-index:100;
}

.dark-mode .sec2-main{
    background-color:rgb(25,25,25, 0.7);
}

        /* Layout 2 - Section2 - Blobs */

.sec2-blob{
    width:200px;
    height:70px;
    position:absolute;

    background-image:radial-gradient(var(--ucp1), var(--ucp1a));
    box-shadow:var(--box-shadow3) var(--wrapperColor1);
    border-radius:1000px;
}

.sec2-blob1{
    top:30%;
    left:var(--wrapperPadding1);
}

.sec2-blob2{
    width:150px;
    height:50px;
    top:calc(30% + 100px);
    left:calc(var(--wrapperPadding1) * 3);
}

.sec2-blob3{
    width:80px;
    height:80px;
    top:calc(var(--wrapperPadding1) + 20px);
    left:70%;
    background-image:radial-gradient(var(--ucp2), var(--ucp2a));
}

.sec2-blob4{
    top:65%;
    right:calc(var(--wrapperPadding1) + 30px);
}

.sec2-blob5{
    height:40px;
    bottom:calc(var(--wrapperPadding1) + 40px);
    right:60%;
    background-image:radial-gradient(var(--ucp2), var(--ucp2a));
}

.sec2-blob6{
    height:40px;
    width:40px;
    bottom:calc(var(--wrapperPadding1) + 40px);
    right:calc(60% - 40px - 40px);
    background-image:radial-gradient(var(--ucp2), var(--ucp2a));
}

        /* Layout 2 - Section2 - Info */

.sec2-info{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.si2-txt1{
    color:var(--txt1);
    font-weight:800;
    text-transform:uppercase;
}

.si2-heading{
    color:var(--txt1);
    font-size:60px;
    text-transform:uppercase;
}

.si2-heading span{
    color:var(--ucp1);
    font-weight:800;
}

.si2-txt2{
    width:min(550px, 100%);
    margin-top:calc(var(--wrapperPadding1) / 2);
    text-wrap:balance;
    color:var(--txt1);
    text-shadow:0 0 1px var(--txt2);
}

.si2-btn{
    width:min(300px, 100%);
    margin-top:calc(var(--wrapperPadding1) * 2);
    padding:4px 0;
    box-sizing:border-box;

    display:flex;
    justify-content:center;

    background-color:var(--shade1);
    color:var(--txt1);
    border:solid 2px var(--ucp1);
    border-radius:100px;

    transition:0.15s;
    cursor:pointer;
}

.si2-btn:hover{
    color:var(--txt2);
    background-color:var(--ucp1);
}

.si2-btn2{
    display:none;
}

        /* Layout 2 - Section2 - Banner */

.sec2-banner{
    position:relative;
    display:flex;
    justify-content:flex-end;
}

.sec2-img{
    height:550px;
    margin-bottom:calc(var(--wrapperPadding1) * -1);
}

.sec2-banner:after{
    content:"";
    width:100%;
    height:75px;
    margin-bottom:calc(var(--wrapperPadding1) * -1);

    position:absolute;
    left:0;
    bottom:0;

    background-image:linear-gradient(to top, #fff, rgb(255,255,255,0));
    z-index:10;
}

.dark-mode .sec2-banner:after{
    background-image:linear-gradient(to top, rgb(25,25,25), rgb(25,25,25, 0));
}

        /* Layout 2 - Section2 - media */

@media screen and (width <= 1200px){

    .section2{
        padding:calc(var(--wrapperPadding1) * 2);
    }

    .sec2-blob2{
        left:calc(var(--wrapperPadding1) * 2);
    }

    .sec2-blob4{
        right:var(--wrapperPadding1);
    }
    
    .sec2-main{
        padding:var(--wrapperPadding1);
        gap:var(--wrapperPadding1);
    }

}

@media screen and (width <= 1024px){

    .sec2-main{
        flex-direction:column;
        align-items:center;
        overflow:hidden;
    }

    .sec2-info{
        align-items:center;
    }

    .si2-txt2{
        width:100%;
        text-align:justify;
    }

    .si2-btn{
        margin-top:var(--wrapperPadding1);
    }
    
    .si2-btn1{
        display:none;
    }
    
    .si2-btn2{
        display:flex;
    }

    .sec2-banner{
        justify-content:center;
    }

    .sec2-banner:after{
        height:50px;
    }

    .sec2-img{
        height:375px;
    }
    
}

@media screen and (width <= 768px){

    .sec2-blob2{
        left:calc(var(--wrapperPadding1) * 1.5);
    }

    .sec2-blob3{
        top:calc(var(--wrapperPadding1) + 10px);
        left:60%;
    }

    .sec2-blob5{
        bottom:calc(var(--wrapperPadding1) + 20px);
        right:40%;
    }

    .sec2-blob6{
        bottom:calc(var(--wrapperPadding1) + 20px);
        right:calc(40% - 40px - 40px);
    }

    .si2-heading{
        color:var(--txt1);
        font-size:40px;
        text-transform:uppercase;
    }
    
}

@media screen and (width <= 540px){

    .section2{
        padding:var(--wrapperPadding1);
    }

    .sec2-blob{
        width:125px;
        height:50px;
    }

    .sec2-blob1{
        left:calc((var(--wrapperPadding1) * 0.5));
    }

    .sec2-blob2{
        width:100px;
        height:40px;
        top:calc(30% + 75px);
        left:var(--wrapperPadding1);
    }

    .sec2-blob3{
        width:60px;
        height:60px;
        top:calc(var(--wrapperPadding1) * 0.5);
    }

    .sec2-blob5{
        height:40px;
        bottom:calc((var(--wrapperPadding1) * 0.5) + 10px);
    }

    .sec2-blob6{
        height:40px;
        width:40px;
        bottom:calc((var(--wrapperPadding1) * 0.5) + 10px);
        right:calc(40% - 40px - 20px);
    }
    
}

@media screen and (width <= 440px){

    .si2-txt1{
        font-size:14px;
    }

    .si2-heading{
        font-size:28px;
    }

    .si2-txt2{
        font-size:15px;
    }

    .sec2-img{
        width:min(200px, 100%);
        height:auto;
    }

}

@media screen and (width <= 320px){

    .section2{
        padding:0;
    }

    .sec2-blob2{
        left:calc((var(--wrapperPadding1) * 0.5));
    }

    .sec2-blob4{
        right:calc((var(--wrapperPadding1) * 0.5));
    }

    .sec2-blob5{
        width:90px;
        bottom:calc(var(--wrapperPadding1) * 0.5);
    }

    .sec2-blob6{
        bottom:calc(var(--wrapperPadding1) * 0.5);
    }

    .si2-txt1{
        font-size:12px;
    }

    .si2-heading{
        font-size:24px;
    }

    .si2-txt2{
        font-size:14px;
    }

}

        /* Layout 2 - PDF Settings */

@media print{

    .sec2-main{
        background-color:rgb(255,255,255, 0.9);
    }
    
    .dark-mode .sec2-main{
        background-color:rgb(25,25,25, 0.9);
    }

}





    /* Layout 3 - Product Page */

.layout3{
    display:flex;
    justify-content:center;
}

.product-page{
    margin:0 auto;
    display:flex;
    gap:calc(var(--wrapperPadding1) * 3);
}

        /* Layout 3 - Product Page - Photos */

.pp-photos{
    height:525px;
    display:flex;
    align-items:flex-start;
    gap:10px;
}

.pp-photos-min{
    height:100%;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.pp-min{
    height:calc(25% - (3 * 10px / 4));
    aspect-ratio:0.75/1;

    border-radius:var(--radius1);
    box-shadow:var(--box-shadow1) var(--wrapperColor1), var(--box-shadow2) var(--wrapperColor1);

    transition:0.1s;
    cursor:pointer;
}

.pp-min:has(.current-photo){
    box-shadow:var(--box-shadow1) var(--wrapperColor1), var(--box-shadow3) var(--ucp1);
}

.pp-photo-min{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:var(--radius1);
}

.pp-display-photo{
    height:100%;
    aspect-ratio:0.75/1;
    display:flex;
}

.pp-photo-big{
    height:100%;
    aspect-ratio:0.75/1;
    object-fit:cover;

    box-shadow:var(--box-shadow1) var(--wrapperColor1), var(--box-shadow2) var(--wrapperColor1);
    border-radius:var(--radius1);
}

        /* Layout 3 - Product Page - Info */

.pp-info{
    flex:1;
    display:flex;
    flex-direction:column;
}

            /* Layout 3 - Product Page - Heading && Price */

.pp-collection{
    color:var(--txt-faded2);
    font-size:16px;
}

.pp-heading{
    color:var(--txt1);
    font-size:24px;
    font-weight:600;
}

.pp-price{
    margin-top:calc(var(--wrapperPadding1) / 2);
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    gap:10px;
}

.pp-price-tag{
    font-size:32px;
    text-wrap:balance;
}

.pp-old-price{
    font-size:18px;
    position:relative;
    color:var(--txt-faded2);
}

.pp-old-price:after{
    content:"";
    width:100%;
    height:1px;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    background-color:var(--txt-faded2);
    border-radius:200px;
}

.pp-price-percent{
    color:var(--ucp2);
}

            /* Layout 3 - Product Page - Colors */

.pp-section{
    margin-top:var(--wrapperPadding1);
    display:flex;
    flex-wrap:wrap;
}

.pp-section-txt{
    width:100%;
    margin-bottom:3px;
    color:var(--txt-faded2);
    font-size:16px;
}

.pp-section-inner{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.chosen-color{
    text-transform:capitalize;
}

.pp-color{
    width:30px;
    aspect-ratio:1/1;
    box-sizing:border-box;
    position:relative;

    border:solid 2px var(--txt1);
    border-radius:50%;

    transition:0.15s;
    cursor:pointer;
}

.pp-color:after{
    content:"";
    width:100%;
    aspect-ratio:1/1;
    padding:4px;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    border:solid 2px var(--shade1);
    border-radius:50%;
    transition:0.15s;
}

.current-color:after{
    border:solid 2px var(--ucp1);
}

.pp-color1{
    background-color:#000;
}
.pp-color2{
    background-color:#999;
}
.pp-color3{
    background-color:var(--ucp3);
}
.pp-color4{
    background-color:var(--ucp1a);
}
.pp-color5{
    background-color:var(--ucp2a);
}

            /* Layout 3 - Product Page - Sizes */

.pp-size{
    width:50px;
    height:28px;

    display:flex;
    justify-content:center;
    align-items:center;

    color:var(--txt-faded3);
    font-size:16px;
    
    background-color:var(--shade1);
    border:solid 2px #999;
    border-radius:200px;

    transition:0.15s;
    cursor:default;
}

.pps-stock{
    color:var(--txt1);
    border:solid 2px var(--txt1);
    cursor:pointer;
}

.current-size{
    color:white;
    background-color:var(--ucp1);
    border:solid 2px var(--ucp1);
}

.pp-stock:hover{
    border:solid 2px var(--ucp1);
}

            /* Layout 3 - Product Page - Button */

.pp-buy{
    height:42px;
    margin-top:var(--wrapperPadding1);
    display:flex;
    gap:10px;
}

.pp-btn{
    height:100%;
    padding:0 50px;
    box-sizing:border-box;

    display:flex;
    justify-content:center;
    align-items:center;

    text-transform:uppercase;
    
    border:solid 2px var(--ucp1);
    border-radius:200px;
    
    transition:0.15s;
    cursor:pointer;
}

.pp-btn:hover{
    color:#FFF;
    background-color:var(--ucp1);
}

.pp-cart-icon{
    height:100%;
    aspect-ratio:1/1;
    position:relative;
    cursor:pointer;
}

.pp-cart-icon svg{
    height:100%;
    aspect-ratio:1/1;
}

.pp-cart-icon svg *{
    stroke:var(--txt1);
    stroke-width:8px;
    fill:none;
    transition:0.15s;
}

.pp-cart-icon:hover svg *{
    stroke:var(--ucp1);
}

.pp-cart-icon svg .cls-3{
    stroke-width:0;
    fill:var(--ucp1);
}

.pp-cart-count{
    width:20px;
    aspect-ratio:1/1;

    position:absolute;
    bottom:0;
    right:0;

    display:flex;
    justify-content:center;
    align-items:center;

    color:var(--txt1);
    background-color:var(--shade1);
    border:solid 2px var(--ucp1);
    border-radius:50%;
}

.item-added{
    animation:itemAdded 2s;
}

@keyframes itemAdded{
    0%{
        border:solid 2px var(--ucp2);
    }
    66%{
        border:solid 2px var(--ucp2);
    }
    100%{
        border:solid 2px var(--ucp1);
    }
}

            /* Layout 3 - Product Page - Delivery */

.pp-delivery{
    align-self:flex-start;
    margin-top:var(--wrapperPadding1);
    padding:calc(var(--wrapperPadding1) / 1.5);
    box-sizing:border-box;

    background-color:var(--ucp3);
    box-shadow:var(--box-shadow1) var(--wrapperColor1), var(--box-shadow2) var(--wrapperColor1);
    border-radius:var(--radius1);
}

.pp-del-txt{
    margin-bottom:5px;
    font-size:16px;
    text-wrap:balance;
}

.pp-del-link{
    color:var(--txt1);
    font-size:16px;

    transition:0.15s;
    cursor:pointer;
}

.pp-del-link:hover{
    color:var(--ucp1);
    font-size:16px;
}

.pp-del-link span{
    transition:0.15s;
}

.pp-del-link:hover span{
    padding-left:5px;
}

        /* Layout 3 - Product Page - media */

@media screen and (width <= 1200px){

    .product-page{
        gap:var(--wrapperPadding1);
    }

}

@media screen and (1024px < width <= 1200px){

    .pp-photos{
        height:450px;
    }

}

@media screen and (width <= 1024px){

    .product-page{
        width:auto;
        flex-direction:column;
        align-items:stretch;
        gap:calc(var(--wrapperPadding1) * 2);
    }

}

@media screen and (width <= 768px){

    .pp-photos{
        width:100%;
        height:auto;
    }
    
    .pp-photos-min{
        flex:1;
        height:100%;
    }
    
    .pp-min{
        height:calc(25% - (3 * 10px / 4));
        aspect-ratio:0.7/1;
    }

    .pp-display-photo{
        width:80%;
    }

    .pp-photo-big{
        width:100%;
        height:auto;
    }

    .pp-info{
        padding:0 var(--wrapperPadding1);
    }

    .pp-btn{
        flex:1;
        padding:0;
    }

    .pp-delivery{
        width:100%;
    }

}

@media screen and (width <= 540px){

    .pp-info{
        padding:0;
    }

    .pp-size{
        width:44px;
        height:26px;
        font-size:15px;
    }

}

@media screen and (width <= 440px){

    .pp-photos{
        flex-direction:column-reverse;
    }

    .pp-photos-min{
        width:100%;
        height:auto;
        flex-direction:row;
    }
    
    .pp-min{
        width:100%;
        height:auto;
    }

    .pp-photo-min{
        flex:1;
        height:auto;
    }

    .pp-display-photo{
        width:100%;
    }

    .pp-heading{
        font-size:20px;
    }

    .pp-price-tag{
        font-size:28px;
    }

    .pp-old-price,
    .pp-price-percent{
        font-size:16px;
    }

    .pp-size{
        flex:25%;
    }

}

@media screen and (width <= 320px){

    .pp-price-tag{
        width:100%;
    }

    .pp-color{
        flex:1;
        width:auto;
    }

    .pp-buy{
        height:36px;
    }

    .pp-btn{
        font-size:14px;
    }

}