
       
    /* Layouts */

.uc-fill1{
    fill:var(--ucp1);
}
.uc-fill1a{
    fill:var(--ucp1a);
}
.uc-fill2{
    fill:var(--ucp2);
}
.uc-fill2a{
    fill:var(--ucp2a);
}
.uc-fill3{
    fill:var(--ucp3);
}

.cf1{
    fill:var(--txt1);
}
.cf2{
    fill:var(--txt2);
}
.cf3{
    fill:rgb(136, 84, 48);
}

.cs1{
    stroke:var(--txt1);
}
.cs2{
    stroke:var(--txt2);
}
.cs3{
    stroke:rgb(136, 84, 48);
}

@media screen and (width <= 768px){

    .layouts{
        --wrapperPadding1: var(--wrapperPadding2);
    }

}

    /* Layout 0 - landing page */

.landing-page{
    width:100%;
}

        /* Layout 0 - Navigation */

.lp-nav{
    width:100%;
    padding:calc(var(--wrapperPadding1) / 2) var(--wrapperPadding1);
    box-sizing:border-box;

    display:flex;
    align-items:center;
    justify-content:space-between;

    background-color:var(--ucp3);
    box-shadow:var(--box-shadow1) var(--shade6), var(--box-shadow2) var(--shade5);
    border-radius:var(--wrapperRadius1);
}

            /* Layout 0 - Logo */

.lp-logo{
    height:40px;
}

.lp-logo svg{
    height:100%;
}

.lp-logo svg *{
    stroke-width:0;
    fill:var(--txt1);
}

.lp-logo svg .cls-2{
    fill:var(--ucp1);
}

            /* Layout 0 - Searchbox */

.lp-search{
    height:40px;
    margin-left:auto;
    margin-right:var(--wrapperPadding1);
    box-sizing:border-box;

    display:flex;
    gap:0;

    background-color:var(--shade1);
    border:solid 2px var(--ucp1);
    border-radius:100px;
    transition:0.15s;
}

.lp-search-open{
    padding-left:16px;
}

.lp-search-box{
    width:0;
    margin:8px 0;
    box-sizing:border-box;

    color:var(--txt1);
    font-size:16px;

    background-color:transparent;
    border:none;
    border-bottom:2px solid var(--txt1);
    transition:0.15s;
}

.lp-search-box:focus{
    border-bottom:2px solid var(--ucp1);
}

.lp-search-open .lp-search-box{
    width:175px;
}

.lp-search-icon{
    height:100%;
    aspect-ratio:1/1;
    padding:8px;
    box-sizing:border-box;

    display:flex;
    align-items:center;
    transition:0.15s;
    cursor:pointer;
}

.lp-search-icon svg{
    height:90%;
    fill:var(--txt1);
    transition:0.15s;
}

.lp-search-icon:hover svg{
    fill:var(--ucp1);
}

            /* Layout 0 - Navbar */

.lp-navbar{
    display:flex;
    align-items:center;
    gap:20px;
    list-style:none;
}

.lp-navbar li{
    color:var(--txt1);
    font-family:cp-font1;
    font-size:22px;
    font-weight:800;
    
    transition:0.15s;
    cursor:pointer;
}

.lp-navbar li:hover{
    color:var(--ucp1);
}

.lp-navbar li:nth-of-type(1){
    color:var(--ucp1);
    border-bottom:solid 2px var(--ucp1);
}

.lp-navbar li:nth-of-type(1):hover{
    color:var(--ucp1a);
    border-bottom:solid 2px var(--ucp1a);
}

.lp-navbar li:nth-last-of-type(1){
    height:40px;
    padding:0 12px;
    display:flex;
    align-items:center;

    color:white;
    background-color:var(--ucp1);
    border-radius:var(--wrapperRadius1);
}

.lp-navbar li:nth-last-of-type(1):hover{
    background-color:var(--ucp1a);
}

.lp-burger{
    height:40px;
    aspect-ratio:1/1;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    cursor:pointer;
}

.lp-burger span{
    width:100%;
    height:7px;
    box-sizing:border-box;
    border:solid 2px var(--ucp1);
    border-radius:100px;
    transition:0.15s;
}

.lp-burger:hover span{
    border:solid 2px var(--ucp1a);
}

                /* Layout 0 - Navbar - media */

@media screen and (width <= 1024px){

    .lp-navbar{
        display:none;
    }

    .lp-burger{
        display:flex;
    }

}

@media screen and (width <= 768px){

    .lp-nav{
        padding:var(--wrapperPadding1) calc(var(--wrapperPadding1) * 2);
        flex-wrap:wrap;
        gap:var(--wrapperPadding1);
    }

    .lp-search{
        order:1;
        width:100%;
        padding-left:16px;
        margin:0;
    }

    .lp-search-box,
    .lp-search-open .lp-search-box{
        width:auto;
        min-width:0;
        flex:1;
    }
}

@media screen and (width <= 540px){

    .lp-nav{
        padding:var(--wrapperPadding1);
        position:relative;
    }

}

@media screen and (width <= 440px){

    .lp-logo{
        width:100%;
        height:30px;
        display:flex;
        justify-content:center;
    }

    .lp-burger{
        height:28px;
        aspect-ratio:1/1;
        position:absolute;
        top:15px;
        right:15px;
    }

    .lp-burger span{
        height:6px;
    }

}

@media screen and (width <= 320px){

    .lp-nav{
        justify-content:center;
    }

    .lp-burger{
        width:50%;
        position:static;
    }

}

        /* Layout 0 - Content */

.lp-content{
    width:100%;
    padding:var(--wrapperPadding1) 0;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:100px;
}

.lp-content-info{
    width:min(500px, 100%);
    position:relative;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.lp-content-info:after{
    content:"?";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    color:var(--ucp3);
    font-size:max(35vw, 250px);
}

.lp-heading{
    color:var(--ucp1);
    font-family:cp-font1;
    font-size:42px;
    font-weight:800;
    z-index:10;
}

.lp-desc{
    width:100%;
    margin-top:10px;
    margin-bottom:var(--wrapperPadding1);

    text-align:center;
    text-wrap:balance;
    font-family:cp-font2;
    font-size:18px;

    z-index:10;
}

.lp-btn{
    padding:12px 20px;
    color:white;
    font-family:cp-font1;
    font-size:24px;
    background-color:var(--ucp2);
    border-radius:var(--wrapperRadius1);

    transition:0.15s;
    cursor:pointer;
    z-index:10;
}

.lp-btn:hover{
    background-color:var(--ucp2a);
}

.lp-banner svg{
    width:min(600px, 40vw);
}

.svg-cut-edge{
    transform:scale(1.1);
}

            /* Layout 0 - Content - media */

@media screen and (width <= 1200px){

    .lp-content{
        gap:var(--wrapperPadding1);
    }

}

@media screen and (width <= 1024px){

    .lp-content{
        flex-direction:column;
    }

    .lp-content-info{
        width:100%;
    }

    .lp-banner{
        width:min(600px, 100%);
    }

    .lp-banner svg{
        width:100%;
    }

}

@media screen and (width <= 540px){

    .lp-heading{
        font-size:36px;
    }
    
    .lp-desc{
        font-size:16px;
    }
    
    .lp-btn{
        font-size:20px;
    }

}

@media screen and (width <= 320px){

    .lp-heading{
        font-size:36px;
    }
    
    .lp-desc{
        font-size:16px;
    }
    
    .lp-btn{
        padding:8px 10px;
        font-size:18px;
    }

}

        /* Layout 0 - Footer */

.lp-footer{
    width:100%;
    padding:var(--wrapperPadding1);
    box-sizing:border-box;

    display:flex;
    justify-content:space-between;

    background-color:var(--ucp3);
    box-shadow:var(--box-shadow1) var(--shade6), var(--box-shadow2) var(--shade5);
    border-radius:var(--wrapperRadius1);
}

.lpf-block{
    max-width:300px;
    height:100%;
    display:flex;
    flex-direction:column;
    gap:6px;
}

.lpf-heading{
    margin-bottom:6px;
    color:var(--txt1);
    font-size:20px;
}

.lpf-txt{
    text-wrap:balance;
    font-size:16px;
    cursor:pointer;
    transition:0.15s;
}

.lpf-txt:hover{
    color:var(--ucp1);
}

            /* Layout 0 - block 1 */

.lpf-block1 .lpf-txt:hover{
    color:var(--txt-faded);
    cursor:auto;
}
        
.lpf-socials{
    display:flex;
    gap:8px;
}

.lpf-socials svg{
    height:32px;
    aspect-ratio:1/1;
    cursor:pointer;
}

.lpf-socials svg *{
    fill:var(--ucp1);
    transition:0.15s;
}

.lpf-socials svg:hover *{
    fill:var(--ucp1a);
}

            /* Layout 0 - block 5 */

.lpf-block5{
    align-self:center;
}

.lp-footer-logo{
    height:32px;
    align-self:center;
}

.lpf-block5 .lpf-heading{
    margin-bottom:0;
}

.lpf-newsletter{
    height:32px;
    width:225px;
    padding:0 12px;
    box-sizing:border-box;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:var(--txt1);
    font-size:16px;

    background-color:var(--txt2);
    border:none;
    border:solid 2px var(--ucp1);
    border-radius:var(--wrapperPadding1);

    transition:0.15s;
}

.lpf-newsletter:focus{
    border:solid 2px var(--ucp1a);
}

.lpf-newsletter-btn{
    height:32px;
    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
    background-color:var(--ucp2);
    border-radius:var(--wrapperPadding1);

    cursor:pointer;
    transition:0.15s;
}

.lpf-newsletter-btn:hover{
    background-color:var(--ucp2a);
}

            /* Layout 0 - Footer - media */

@media screen and (width <= 1200px){

    .lp-footer{
        flex-wrap:wrap;
        gap:var(--wrapperPadding1);
    }

    .lpf-block{
        max-width:none;
        flex:15%;
    }

    .lpf-block2{
        margin-left:10%;
    }

    .lpf-block1,
    .lpf-block5{
        order:1;
        flex:40%;
    }

    .lpf-block1 .lpf-heading,
    .lpf-block1 .lpf-txt{
        text-align:center;
    }

    .lpf-socials{
        justify-content:center;
    }

    .lpf-block5{
        align-self:flex-start;
    }

    .lpf-newsletter,
    .lpf-newsletter-btn{
        width:100%;
    }

}

@media screen and (width <= 1024px){

    .lpf-block2{
        margin-left:5%;
    }

}

@media screen and (width <= 768px){

    .lpf-block{
        min-width:25%;
    }

    .lpf-block2{
        margin-left:0;
    }

    .lpf-block1,
    .lpf-block5{
        flex:auto;
        width:100%;
    }

    .lpf-block1{
        order:2;
    }

}

@media screen and (width <= 540px){

    .lpf-block{
        min-width:30%;
    }

}

@media screen and (width <= 440px){

    .lp-footer{
        flex-direction:column;
    }

    .lpf-block{
        width:100%;
        align-items:center;
    }

    .lpf-txt{
        text-align:center;
    }

}

@media screen and (width <= 320px){

    .lpf-socials{
        gap:4px;
    }

    .lpf-socials svg{
        height:28px;
    }
    
}

        /* Layout 0 - PDF Settings */

@media print{

    .layouts:has(.layout0.display-layout){
        max-height:759px;
    }
    
    .lp-content-info{
        width:500px;
    }

    .lp-banner svg{
        width:auto;
        height:375px;
    }

}





        /* Layout 1 - media */






